<!-- Moh Dzulfikri Maulana -->
<!-- B41 Day 7 -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/e54d5e7924.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/public/css/style.css">
  <title>Detail Project</title>
</head>

<body>

  <header class="navbar navbar-expand-lg bg-white shadow-sm fixed-top">

    <div class="container-fluid mx-lg-5 mx-sm-1 py-1">
      <a class="navbar-brand" href="/">
        <img src="https://dumbways.id/assets/images/brandred.png" width="49px" alt="Dumbways Logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item mx-lg-3 me-sm-3">
            <a class="nav-link active fw-bold" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add-project">Add Project</a>
          </li>
        </ul>
        <a href="/contact">
          <button class="btn btn-dark px-3 rounded-3" type="button">Contact Me</button></a>
        </a>
      </div>
    </div>

  </header>

  <div id="project-details" class="container-fluid" style="margin-top: 13vh; margin-bottom: 8vh; max-width: 865px;">
    <h1 class="text-center fw-bold mb-5">Dummy Title</h1>
    <div class="container mx-0 mt-4">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 justify-content-md-center justify-content-sm-center mb-2">
          <div class="overflow-hidden mb-2" style="height: 18em;">
            <img style="max-width: 86.11410118406889vh; max-height: 64.58557588805166vh;"
              src="https://www.myrasecurity.com/app/uploads/2022/04/IP_Stresser_Booter_Artikelbild_01-1.png"
              alt="cover page">
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="container">
            <h4>Duration</h4>
            <p><i class="fa-solid fa-calendar-days me-2"></i>12 Jan 2022 - 11 Sep 2022</p>
            <p><i class="fa-regular fa-clock me-2"></i>1 month</p>
          </div>
          <div class="container mt-4">
            <h4>Technologies</h4>
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <p><i class="fa-brands fa-react fa-xl me-2"></i>React Js</p>
                <p><i class="fa-brands fa-vuejs fa-xl me-2"></i>Vue Js</p>
              </div>
              <div class="col-lg-6 col-sm-12">
                <p><i class="fa-brands fa-angular fa-xl me-2"></i>Angular</p>
                <p><i class="fa-brands fa-laravel fa-xl me-2"></i>Laravel</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="mt-4 px-2" style="text-align: justify;"> Lorem ipsum dolor sit amet consectetur,
      adipisicing
      elit. Deserunt
      voluptatibus
      cumque
      error, soluta officia rem
      totam saepe perferendis accusamus tenetur debitis impedit maiores excepturi. Nobis libero blanditiis repudiandae
      et officia accusantium inventore magnam recusandae maxime. Rerum possimus optio iure eaque fuga molestias quisquam
      repellat dignissimos quas, adipisci autem. Nobis autem enim libero placeat saepe voluptatibus incidunt recusandae
      quibusdam possimus atque sapiente qui ipsam, reprehenderit, commodi beatae tenetur nesciunt quam maiores ullam
      facere odit ab modi cumque! Ut dolores explicabo, officiis porro, eveniet voluptatem enim quis est tempore error
      incidunt! Numquam obcaecati perspiciatis adipisci! Eaque quos quibusdam aut hic, est praesentium. Dolorem dolores
      magnam quibusdam, ducimus, corrupti explicabo, nostrum praesentium et placeat quaerat alias eum facere esse cumque
      tenetur. Pariatur nemo nihil eos? Provident, voluptatum tempore? Corrupti numquam illum autem totam aliquam earum,
      perferendis porro cumque, tempora laudantium repellat fugit magnam sapiente voluptatum dolorem expedita, alias
      voluptas culpa quasi odio ab impedit. Molestiae qui error eaque minima. Voluptatem rerum facilis provident maxime
      sit blanditiis earum reiciendis consequatur, doloribus ut esse velit aliquam adipisci nostrum amet eligendi
      necessitatibus illum tempora inventore sed nobis est exercitationem! Necessitatibus quos enim perferendis autem ut
      eos nam, a obcaecati natus totam. Quod ab inventore recusandae unde accusamus voluptate impedit sed similique vel
      ipsum error laboriosam fugiat a, ipsa perferendis quae, aut itaque iste doloribus excepturi eaque optio nam.
      Expedita eaque earum ipsum debitis adipisci nisi nemo illum, consectetur praesentium fugit sint cum amet dolorum
      voluptatum sit et odio ullam dicta? Quis aperiam ad sed fugiat id! Recusandae, cupiditate placeat? Asperiores
      natus esse maiores molestiae rerum commodi debitis quas quibusdam! Vero ullam natus laborum debitis veritatis
      molestias numquam obcaecati, odit qui tempore voluptates unde reiciendis quae odio est deleniti! Fuga velit minus,
      dicta, dolorum cumque possimus ab ipsam suscipit voluptatum earum voluptates, recusandae officia dolores assumenda
      asperiores. Esse dolore veniam accusamus repellendus veritatis, quaerat id quis tempore! Cupiditate cum eius
      voluptatum molestias atque consectetur totam perferendis expedita autem quaerat id eveniet illo ipsa neque, at
      vel. Facilis unde culpa perspiciatis inventore accusamus quis incidunt quia vitae doloremque natus recusandae
      asperiores reiciendis, sapiente cupiditate itaque ea dolore aspernatur laudantium animi nesciunt consectetur.
      Provident facilis, officiis minus consectetur et impedit, ratione dicta neque atque doloremque culpa, odio
      repudiandae quod vero soluta incidunt tenetur ad perspiciatis hic vitae praesentium amet repellendus fugiat enim!
      Nihil repellat vero eveniet odio ducimus possimus molestiae, natus alias aut velit veritatis assumenda nemo
      laboriosam blanditiis deserunt qui sit rem. Atque accusamus id fuga ratione similique eius dolorem vel, suscipit
      sequi labore perferendis sint earum libero ea saepe ducimus, in cupiditate! Libero, laborum? Quos provident
      magnam, officia assumenda ad nemo voluptas. Quia ipsam iure earum quisquam laudantium? Minima doloremque, eos
      animi ab molestiae, facere magnam hic commodi expedita culpa perferendis laudantium repellat. Est corrupti facilis
      voluptas minima omnis illum eius minus libero ad corporis, doloribus id nihil atque placeat labore veniam?
      Incidunt architecto at asperiores harum aperiam, magnam voluptate veritatis totam unde sapiente, atque dolor
      itaque, suscipit expedita obcaecati earum sunt commodi quidem? Voluptas, ad voluptatem!</p>
  </div>



</body>

</html>