<!-- Moh Dzulfikri Maulana -->
<!-- B41 Day 10 -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/e54d5e7924.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/public/css/style.css">


  <title>Home</title>
</head>

<body>

  <header class="navbar navbar-expand-lg bg-white shadow-sm fixed-top">

    <div class="container-fluid mx-lg-5 mx-sm-1 py-1">
      <a class="navbar-brand" href="/">
        <img src="https://dumbways.id/assets/images/brandred.png" width="49px" alt="Dumbways Logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item mx-lg-3 me-sm-3">
            <a class="nav-link active fw-bold" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/form-add-project">Add Project</a>
          </li>
        </ul>
        <a href="/contact">
          <button class="btn btn-dark px-3 rounded-3" type="button">Contact Me</button></a>
        </a>
      </div>
    </div>

  </header>

  {{if .FlashData}}
  <div class="alert alert-success" role="alert">
    <strong>{{.FlashData}}</strong>
  </div>
  {{end}}

  <section>
    <div class="container mb-5 p-5 bg-body rounded-3 shadow-sm" style="max-width: 955px; margin-top: 13vh;">
      <div class="row">
        <div class="col-xl-7 col-md-6 col-sm-12 justify-content-md-center text-decoration-none d-flex flex-column">
          <h2 class="fw-bold pb-2">Hi Welcome to my hut</h2>
          <p style="text-align: justify;">Lorem ipsum dolor sit amet, consecteur adipiscing elit. Sed
            tristique purus
            orci
            libero egestas ut. Augue
            suspendisse blandit loren massa ipsum, urna, egestas mi, lacinia. Dui fusce etiam libero, lectus
            amet, risus
            molestie malesuada. Odio nam purus consectetur euismod congue leo quisque. Turpis amet
            sollicitudin
            nunc non
            in
            lectus dolor amet. Amet ullamcorper faucibus tincidunt accumsan ac adipiscing arcu. Donec
            tristique
            at proin
            maecenas. Ante elit et iaculis ac sit.</p>

          <div class="d-flex align-items-baseline">
            <a href="/contact"><button class="btn btn-dark px-3 rounded-5 my-4" type="button">contact</button></a>
            <a href="#" class="mx-3 text-decoration-none text-dark">
              <p>download CV
                <span><i class="fa-solid fa-download" style="margin-left: 5px;"></i></span>
              </p>
            </a>
          </div>

          <div class="container mt-4 mb-3 mx-0 px-0 d-flex justify-content-start ">
            <a href="#"><i class="fa-brands fa-linkedin fa-2xl mx-1 mb-lg-0 mb-sm-3"></i></a>
            <span><a href="#"><i class="fa-brands fa-square-instagram fa-2xl me-1 mb-lg-0 mb-sm-3 ms-4"></i></a></span>
            <span><a href="#"><i class="fa-brands fa-square-facebook fa-2xl mx-1 mb-lg-0 mb-sm-3 ms-4"></i></a></span>
            <span><a href="#"><i class="fa-brands fa-square-twitter fa-2xl mx-1 mb-lg-0 mb-sm-3 ms-4"></i></a></span>
          </div>
        </div>

        <div class="col d-flex justify-content-lg-end justify-content-md-start justify-content-sm-start">
          <div class="card overflow-hidden shadow-sm" style="width: 327.2px;">
            <img style="width: 100%;" src="/public/img/roma-irama-crop.png" class="card-img-top" alt="Profile Picture">
            <div class="card-body" style="text-align: center;">
              <h3 class="card-title lh-1 fw-bold">Rhoma Irama</h3>
              <p class="card-text text-wrap overflow-hidden lh-1">Fullstack Developer</p>
            </div>
          </div>
        </div>

      </div>


    </div>
  </section>


  <section>
    <div class="container-fluid bg-body mt-5 shadow justify-content-sm-center">
      <h2 class="fw-bold py-4" style="text-align: center;">MY PROJECT</h2>

      <div class="d-flex justify-content-center">
        <div id="contents"
          class="row d-flex flex-wrap justify-content-lg-start justify-content-md-start justify-content-sm-center"
          style="width: 985px;">
          {{range $index, $data := .Projects}}

          <!-- card -->
          <div class="col-lg-4 col-md-6 col-sm-12 d-flex px-1">
            <div class="card m-2 shadow">
              <div class="p-2 overflow-hidden rounded">
                <div class="overflow-hidden rounded" style="height: 215px; width: auto;">
                  <img style="height: auto; width: 140%;"
                    src="https://media.kompas.tv/library/image/content_article/article_img/20220823221656.jpg"
                    class="card-img-top" alt="Project Image">
                </div>
              </div>
              <div class="card-body pt-2 d-flex flex-column">
                <a href="/detail-project/{{$data.Id}}" class="text-dark" style="text-decoration: none;">
                  <h5 class="card-title fw-bold">{{$data.Project_name}}</h5>
                </a>
                <p class="mt-0" style="margin-bottom: 20px;">durasi : {{$data.Duration}}</p>
                <div class="text-wrap overflow-hidden mb-4" style="height: 72px;">
                  <p class="card-text">{{$data.Description}}</p>
                </div>
                <div class="d-flex flex-column mt-auto">
                  <div class="container" style="padding-left: 3px;">
                    {{range $index, $value := $data.Technologies}}
                    {{if eq $value "ReactJs"}}
                    <i class="fa-brands fa-react fa-xl ms-0"></i>
                    {{else if eq $value "VueJs"}}
                    <i class="fa-brands fa-vuejs fa-xl ms-2"></i>
                    {{else if eq $value "Angular"}}
                    <i class="fa-brands fa-angular fa-xl ms-2"></i>
                    {{else if eq $value "Laravel"}}
                    <i class="fa-brands fa-laravel fa-xl ms-2"></i>
                    {{end}}
                    {{end}}
                  </div>
                  <div class="container m-0 pt-3 text-center">
                    <div class="row justify-content-between">
                      <a href="/form-edit-project/{{$data.Id}}" class="btn btn-dark col-5" style="width: 47%; ">Edit</a>
                      <a href="/delete-project/{{$data.Id}}" class="btn btn-dark col-5" style="width: 47%;">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {{end}}


        </div>


      </div>
  </section>


</body>

</html>